.header
= render partial: '/products/header'
.wrapper
  = render partial: '/users/bread', locals: { where: :card }
  .card_container
    = render partial: '/users/sidebar'
    = render partial: 'show_card'
.footer
  = render partial: '/products/adbtm'
  = render partial: '/products/footer'