.header
= render partial: '/products/header'
.wrapper
  = render partial: 'bread', locals: {where: :profile}
  .profile_container
    = render partial: 'sidebar'
    = render partial: 'users_profile'
.footer
  = render partial: '/products/adbtm'
  = render partial: '/products/footer'