.header
= render partial: '/products/header'
.wrapper
  = render partial: 'bread'
  .container
    = render partial: 'sidebar'
    = render partial: 'users_profile'
.footer
  = render partial: '/products/adbtm'
  = render partial: '/products/footer'