.header
= render partial: '/products/header'
.wrapper
  = render partial: 'bread'
  .identification_container
    = render partial: 'sidebar'
    = render partial: 'user_identification'
.footer
  = render partial: '/products/adbtm'
  = render partial: '/products/footer'