.header
= render partial: '/products/header'
.wrapper
  = render partial: 'bread', locals: { where: :log_out }
  .logout_container
    = render partial: 'sidebar'
    .logout
      .logout__button
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'red_button'
.footer
  = render partial: '/products/adbtm'
  = render partial: '/products/footer'