.wrapper
  = render partial: '/products/header'
  = render partial: 'bread', locals: { where: :mypage }
  .main
    .main__wrapper
      = render partial: 'sidebar'
                    
      .main__wrapper__right
        .main__wrapper__right__top
          = link_to "#" do
            .main__wrapper__right__top__a
              .main__wrapper__right__top__a__image
                = image_tag "no-icon.png", size: "60x60", alt: "顔写真1", class: "image_top"
              .main__wrapper__right__top__a__name
                = @user.nickname
              .main__wrapper__right__top__a__info
                .main__wrapper__right__top__a__info__wrappe
                  .main__wrapper__right__top__a__info__wrappe__evaluate
                    評価
                  .main__wrapper__right__top__a__info__wrappe__evaluate_figure
                    0
                  .main__wrapper__right__top__a__info__wrappe__sell
                    出品数
                  .main__wrapper__right__top__a__info__wrappe__sell_figure
                    0
        .main__wrapper__right__middle_tab
          .main__wrapper__right__middle_tab__top
            %input.main__wrapper__right__middle_tab__top__1{type: "button", value: "お知らせ"}
    
            %input.main__wrapper__right__middle_tab__top__2{type: "button", value: "やることリスト"}
        
          .main__wrapper__right__middle_tab__under
            お知らせの商品はありません

            


        .main__wrapper__right__title
          購入した商品
        .main__wrapper__right__middle_tab_1
          .main__wrapper__right__middle_tab_1__top
            %input.main__wrapper__right__middle_tab_1__top__1{type: "button", value: "取引中"}
              
            %input.main__wrapper__right__middle_tab_1__top__2{type: "button", value: "過去の取引"}
              
          .main__wrapper__right__middle_tab_1__under
            お知らせの商品はありません
.footer
  = render partial: '/products/adbtm'
  = render partial: '/products/footer'