.signup-wrapper
  .buy-header
    %h1.address-header__logo
      = link_to "#"do 
        = image_tag "fmarket_logo_white.svg"
  %main.get-main
    %section.l-get-container
      %h2.l-get-head__registration 購入内容の確認
      .l-get-head__registration__form
        .l-get-content__form__box__imag
          = image_tag 'inu.jpg', height: '80px', width: '80px', class: 'pic'
        .l-get-content__form__box__text
          .l-get-content__form__box__text__title
            = @product.name
          .l-get-content__form__box__text__price
            = @product.price 
            円（税込）送料込み
      .l-get-head__registration__pay
        .l-get-content__registration__pay__text
          支払い金額
        .l-get-content__registration__pay__price
          ¥
          = @product.price
      .l-get-head__registration__paypay
        .l-get-content__registration__pay__point
          .l-get-content__registration__pay__point_box
            %input#box1{:type => "checkbox"}/
          .l-get-content__registration__pay__point_text
            ポイントを使用 (所持ポイント: P0)
    .buyers
      .buyers__card
        .buyers__card__Method
          .buyers__card__Method__text
            .buyers__card__Method__text__top
              .buyers__card__Method__text__top_title
                支払い方法
              .buyers__card__Method__text__top_chenge
                =link_to"#" ,class:"color" do
                  変更する
            .buyers__card__Method__text__deadline
              クレジットカード
              %br
              - if @default_card_information.blank?
                %br 
              - else
                -#以下カード情報を表示
                = "**** **** **** " + @default_card_information.last4
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                %br 
                有効期限
                = exp_month + " / " + exp_year
                %br 
                = image_tag 'visa.png', height: '20px', width: '50px', class: 'visa'
                
        .buyers__card__Method
          .buyers__card__Method__text
            .buyers__card__Method__text__top
              .buyers__card__Method__text__top_title
                配送先
              .buyers__card__Method__text__top_chenge
                =link_to"#" ,class:"color" do
                  変更する
            .buyers__card__Method__text__deadline
              〒
              =@address.postal_code
              %br
              =@address.city
              =@address.street
              =@address.building
              %br
                
              =@address.user.nickname
              %br 
        .buyers__card__Method
          .buyers__card__Method__text
            .buyers__card__Method__text__top
            .buyers__card__Method__text__deadline
              %a.red この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
            .buyers__card__Method__text__btn
              - if @default_card_information.blank?
              - else
                = form_with(model: @buyer, method: :post,local: true,class: "btn_color") do |form|
                  = form.hidden_field :product_id, value: @product.id
                  = form.submit "購入する" ,class: "btn_color"
               
                  
            .buyers__card__Method__text__app
              アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
            .buyers__card__Method__text__app-btn
              .buyers__card__Method__text__app-btn__appstore
                =link_to "#" ,class: "new_item" do
                  = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",class: "app_box", alt: "app"
              .buyers__card__Method__text__app-btn__googleplay
                =link_to "#" ,class: "new_item" do
                  = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class: "app_box", alt: "app"
                 
   
  .signup__footer
    = render partial: "users/registrations/footer"