.mein
  .mein_head
    .mein_head_top
      =link_to "/" ,class: "log" do
        = image_tag "fmarket_logo_red.svg",class: "mein_title", alt: "メルちゃん"          
      = form_for "#" do |f|
        .from_top
          = f.text_field :content, class:'Search',placeholder: "何をお探しですか？"
          = button_tag type: 'submit', class: 'form_submit' do
            = icon('fas','search')


    .mein_head_bottme
      .mein_head_bottme_left
        %ul.left
          %li.bottme_menu
            = link_to "#" ,class: "color" do
              = icon('fas', 'list', class: 'icon', style: "color:red")
              カテゴリーから探す
          %li.bottme_menu
            = link_to "#" ,class: "color" do
              = icon('fas', 'tag', class: 'icon', style: "color:red")
              ブランドから探す
      .mein_head_bottme_right
        %ul.right
          -if user_signed_in?
            %li.bottme_menu
              = link_to "#" ,class: "color" do
                = icon('fas', 'heart', class: 'icon')
                いいね！一覧
            %li.bottme_menu
              = link_to "#" ,class: "color" do
                = icon('fas', 'bell', class: 'icon')
                お知らせ
            %li.bottme_menu
              = link_to "#" ,class: "color" do
                = icon('fas', 'check', class: 'icon')
                やる事リスト
            %li.bottme.menu
              =link_to user_path(current_user.id) ,class: "color" do
                = image_tag "inu.jpg",class: "my_user"
                マイページ
          - else
            %li.bottme_menu
              =link_to "新規会員登録", new_user_path, class: 'new_user'
            %li.bottme_menu
              =link_to "ログイン", user_session_path, class: 'log_in'

= render partial: "products/producte"
