.new_list
  %ul.new_list_item
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href: "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000
    %li.item
      =link_to "#" ,class: "new_item" do
        .item_text RED BULL
        = image_tag "inu.jpg",class: "item_pic", alt: "販売写真"
        %span{href:  "#",class: "price"} 
          #text_price ¥1000