= render partial: 'new'
.exhibitions_main
  = form_with(model: @product, local: true) do |form|
    .exhibitions_main__container
      .exhibitions_main__container__title
        商品情報を入力
      .exhibitions_main__container__image_send
        .exhibitions_main__container__image_send__top
          %h3.exhibitions_main__container__image_send__top__left
            出品画像
            %span.exhibitions_main__container__image_send__top__right
              必須
        %p.exhibitions_main__container__image_send__message
          最大10枚までアップロードできます
        = form.label :image, class: "exhibition_main__container__image_label" do
          .exhibitions_main__container__image_label__file
            ドラッグアンドドロップ
            %br またはクリックしてファイルをアップロード
            = form.file_field :image, class: "file" 
              


      .exhibitions_main__container__product
        .exhibitions_main__container__product__send
          .exhibitions_main__container__product__send__top
            %h3.exhibitions_main__container__product__send__top__left
              商品名
              %span.exhibitions_main__container__product__send__top__right
                必須
          = form.text_field :name, class: "exhibition_main__container__product__send__name", placeholder: "  商品名 (必須40文字まで)"
          .exhibitions_main__container__product__send__top
            %h3.exhibitions_main__container__product__send__top__left
              商品の説明
              %span.exhibitions_main__container__product__send__top__right
                必須
          = form.text_area :description, class: "exhibition_main__container__product__send__discription", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"


        .exhibitions_main__container__product__detail
          .exhibitions_main__container__product__detail__inner
            商品の詳細
            .exhibitions_main__container__product__detail__inner__select
              .exhibitions_main__container__product__detail__inner__select__top
                %h3.exhibitions_main__container__product__detail__inner__select__top__left
                  カテゴリー
                  %span.exhibitions_main__container__product__detail__inner__select__top__right
                    必須
              .exhibitions_main__container__product__detail__inner__select__wrappe
                %i.fa.fa-chevron-down
                  
                = form.select :category_id, [["レディース", 1], ["メンズ", 2], ["ベビー・キッズ", 3], ["インテリア・住まい・小物", 4],["本・音楽・ゲーム", 5], ["おもちゃ・ホビー・グッズ", 6], ["コスメ・香水・美容", 7], ["家電・スマホ・カメラ", 8], ["スポーツ・レジャー", 9], ["ハンドメイド", 10], ["チケット", 11], ["自動車・オートバイ", 12], ["その他", 13]], {}, {class: "exhibition_main__container__product__detail__inner__select__wrappe__button"}
                  
              .exhibitions_main__container__product__detail__inner__select__status
                %h3.exhibitions_main__container__product__detail__inner__select__status__left
                  商品の状態
                  %span.exhibitions_main__container__product__detail__inner__select__status__right
                    必須
              .exhibitions_main__container__product__detail__inner__select__wrappe
                %i.fa.fa-chevron-down
                  
                = form.select :condition, [["---", 0], ["新品、未使用", 1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3], ["やや傷や汚れあり", 4], ["傷や汚れあり", 5], ["全体的に状態が悪い", 6]], {}, {class: "exhibition_main__container__product__detail__inner__select__wrappe__button"}

              .exhibitions_main__container__product__send__brand
                %h3.exhibitions_main__container__product__send__brand__left
                  ブランド
                  %span.exhibitions_main__container__product__send__brand__right
                    任意
                = form.text_field :brand_id, class: "exhibition_main__container__product__send__name"  



        .exhibitions_main__container__product__shipping_method
          .exhibitions_main__container__product__shipping_method__inner
            配送について
            = link_to "#" do
              %i.fa.fa-question-circle{class: "question"}
            .exhibitions_main__container__product__shipping_method__inner__select
              .exhibitions_main__container__product__shipping_method__inner__select__burden
                %h3.exhibitions_main__container__product__shipping_method__inner__select__burden__left
                  配送料の負担
                  %span.exhibitions_main__container__product__shipping_method__inner__select__burden__right
                    必須
              .exhibitions_main__container__product__shipping_method__inner__select__wrappe
                %i.fa.fa-chevron-down
                  
                = form.select :shipping_charge, [["---", 0], ["送料込み(出品者負担)", 2], ["着払い(購入者負担)", 3]], {}, {class: "exhibition_main__container__product__shipping_method__inner__select__wrappe__button"}
              

              .exhibitions_main__container__product__shipping_method__inner__select__burden
                %h3.exhibitions_main__container__product__shipping_method__inner__select__burden__left
                  配送の方法
                  %span.exhibitions_main__container__product__shipping_method__inner__select__burden__right
                    必須
              .exhibitions_main__container__product__shipping_method__inner__select__wrappe
                %i.fa.fa-chevron-down
                  
                = form.select :shipping_method, [["---", 0], ["未定", 1], ["らくらくメルカリ便", 2], ["ゆうメール", 3], ["レターパック", 4], ["普通郵便（定形, 定形外)", 5], ["クロネコヤマト", 6], ["ゆうパック", 7], ["クリックポスト", 8], ["ゆうパケット", 9]], {}, {class: "exhibition_main__container__product__detail__inner__select__wrappe__button"}



              .exhibitions_main__container__product__shipping_method__inner__select__region
                %h3.exhibitions_main__container__product__shipping_method__inner__select__region__left
                  発送元の地域
                  %span.exhibitions_main__container__product__shipping_method__inner__select__region__right
                    必須
              .exhibitions_main__container__product__shipping_method__inner__select__wrappe
                %i.fa.fa-chevron-down
                  
                = form.select :shipping_prefecture, [["---", 0], ["北海道", 1], ["青森", 2]], {}, {class: "exhibition_main__container__product__shipping_method__inner__select__wrappe__button"}
                  


              .exhibitions_main__container__product__shipping_method__inner__select__day
                %h3.exhibitions_main__container__product__shipping_method__inner__select__day__left
                  発送までの日数
                  %span.exhibitions_main__container__product__shipping_method__inner__select__day__right
                    必須
              .exhibitions_main__container__product__shipping_method__inner__select__wrappe
                %i.fa.fa-chevron-down
                  
                = form.select :shipping_days, [["---", 0], ["1~2日で発送", 2], ["2~3日で発送", 3], ["4~7日で発送"]], {}, {class: "exhibition_main__container__product__shipping_method__inner__select__wrappe__button"}
                  

        .exhibitions_main__container__product__money
          .exhibitions_main__container__product__money__inner
            販売価格(300~9,999,999)
            = link_to "#" do
              %i.fa.fa-question-circle{class: "question"}
            .exhibitions_main__container__product__money__inner__select
              .exhibitions_main__container__product__money__inner__select__a
                %h3.exhibitions_main__container__product__money__inner__select__a__left
                  価格
                  %span.exhibitions_main__container__product__money__inner__select__a__right
                    必須
                .exhibitions_main__container__product__money__inner__select__a__price
                  .exhibitions_main__container__product__money__inner__select__a__price__yen
                    ¥
                  = form.text_field :price, placeholder: "例） 300", class: "exhibition_main__container__product__money__inner__select__a__price__figure"
            
              .exhibitions_main__container__product__money__inner__select__commission
                販売手数料(10%)
              .exhibitions_main__container__product__money__inner__select__profit
                販売履歴
        .exhibitions_main__container__product__discription
          %p.exhibitions_main__container__product__discription__1
            = link_to "#", class: "link" do
              禁止されている出品、行為
            を必ずご確認ください。
          %p.exhibitions_main__container__product__discription__2
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "#", class: "link" do
              偽ブランドの販売
            は犯罪であり処罰される可能性があります。
          %p.exhibitions_main__container__product__discription__3
            また、出品をもちまして
            = link_to "#", class: "link" do
              加盟店規約
            に同意したことになります。

          = form.submit "変更する", class: "exhibition_main__container__product__discription__exhibition"
          = link_to "/" do
            .exhibitions_main__container__product__discription__back
              もどる
.exhibitions_footer  
  .exhibitions_footer__inner
    .exhibitions_footer__inner__text
      = link_to "#" do
        .exhibitions_footer__inner__text__1{class: "hover"}
          プライバシーポリシー
      = link_to "#" do
        .exhibitions_footer__inner__text__2{class: "hover"}
          メルカリ利用規約
      = link_to "#" do
        .exhibitions_footer__inner__text__3{class: "hover"}
          特定商取引に関する表記
    .exhibitions_footer__inner__image
      = link_to "/" do
        = image_tag "logo_gray.svg", size: "80x65", alt: "logo", class: "image_under"
    .exhibitions_footer__inner__inc
      © Mercari, Inc.