.exhibition_wrapper
  .exhibition_header
    = link_to "/" do
      = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "logo", class: "image_top"
  .exhibition_main
    = form_with model: @product, local: true do |form|
      = form.hidden_field :progress, value: 1
      .exhibition_main__container
        .exhibition_main__container__title
          商品情報を入力
        .exhibition_main__container__image_send
          .exhibition_main__container__image_send__top
            %h3.exhibition_main__container__image_send__top__left
              出品画像
              %span.exhibition_main__container__image_send__top__right
                必須
          %p.exhibition_main__container__image_send__message
            最大10枚までアップロードできます
          
          
          .post__drop__box__container
            .prev-content
              - @product.photos.each do |image|
                .preview-box
                  .upper-box
                    = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .update-box
                      %label.edit-btn 編集
                    .delete-box
                      .delete-btn
                        %span 削除
            .label-content

            
              = form.label :"photos_attributes_#{@product.photos.length}_image", class: "label-box", id: "label-box--#{@product.photos.length}" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = form.fields_for :photos do |i|    
                = i.file_field :image, class: "hidden-field"
                = i.check_box:_destroy, class: "hidden-checkbox"
              - @product.photos.length.upto(4) do |i|
                %input{name: "product[photos_attributes][#{i}][image]", id: "product_photos_attributes_#{i}_image", class:"hidden-field", type:"file"}
        .sell__block__form__name



        .exhibition_main__container__product
          .exhibition_main__container__product__send
            .exhibition_main__container__product__send__top
              %h3.exhibition_main__container__product__send__top__left
                商品名
                %span.exhibition_main__container__product__send__top__right
                  必須
            = form.text_field :name, class: "exhibition_main__container__product__send__name", placeholder: "  商品名 (必須40文字まで)"
            .exhibition_main__container__product__send__top
              %h3.exhibition_main__container__product__send__top__left
                商品の説明
                %span.exhibition_main__container__product__send__top__right
                  必須
            = form.text_area :description, class: "exhibition_main__container__product__send__discription", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"



          .exhibition_main__container__product__detail
            .exhibition_main__container__product__detail__inner
              商品の詳細
              .exhibition_main__container__product__detail__inner__select
                .exhibition_main__container__product__detail__inner__select__top
                  %h3.exhibition_main__container__product__detail__inner__select__top__left
                    カテゴリー
                    %span.exhibition_main__container__product__detail__inner__select__top__right
                      必須
                .exhibition_main__container__product__detail__inner__select__wrappe
                  %i.fa.fa-chevron-down
                  
                  .listing-select-wrapper
                    .listing-select-wrapper__box
                      = form.select :category_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                    
                .exhibition_main__container__product__detail__inner__select__status#margin_select
                  %h3.exhibition_main__container__product__detail__inner__select__status__left
                    サイズ
                    %span.exhibition_main__container__product__detail__inner__select__status__right
                      必須
                .exhibition_main__container__product__detail__inner__select__wrappe
                  %i.fa.fa-chevron-down
                    
                  = form.select :size, Product.sizes, {prompt: "---"}, {class: "exhibition_main__container__product__detail__inner__select__wrappe__button"}



                .exhibition_main__container__product__detail__inner__select__status
                  %h3.exhibition_main__container__product__detail__inner__select__status__left
                    ブランド
                    %span.exhibition_main__container__product__detail__inner__select__status__right
                      任意
                .exhibition_main__container__product__detail__inner__select__wrappe
                  
                    
                  = form.collection_select :brand_id, Brand.all, :id, :name,{prompt: "--"}, {class: "exhibition_main__container__product__detail__inner__select__wrappe__button"}



                .exhibition_main__container__product__detail__inner__select__status
                  %h3.exhibition_main__container__product__detail__inner__select__status__left
                    商品の状態
                    %span.exhibition_main__container__product__detail__inner__select__status__right
                      必須
                .exhibition_main__container__product__detail__inner__select__wrappe
                  %i.fa.fa-chevron-down
                    
                  = form.select :condition, Product.conditions, {prompt: "---"}, {class: "exhibition_main__container__product__detail__inner__select__wrappe__button"}
                    
                
                

          .exhibition_main__container__product__shipping_method
            .exhibition_main__container__product__shipping_method__inner
              配送について
              = link_to "#" do
                %i.fa.fa-question-circle{class: "question"}
              .exhibition_main__container__product__shipping_method__inner__select
                .exhibition_main__container__product__shipping_method__inner__select__burden
                  %h3.exhibition_main__container__product__shipping_method__inner__select__burden__left
                    配送料の負担
                    %span.exhibition_main__container__product__shipping_method__inner__select__burden__right
                      必須
                .exhibition_main__container__product__shipping_method__inner__select__wrappe
                  %i.fa.fa-chevron-down
                    
                  = form.select :shipping_charge, Product.shipping_charges, {prompt: "---"}, {class: "exhibition_main__container__product__shipping_method__inner__select__wrappe__button"}
                

                .exhibition_main__container__product__shipping_method__inner__select__burden
                  %h3.exhibition_main__container__product__shipping_method__inner__select__burden__left
                    配送の方法
                    %span.exhibition_main__container__product__shipping_method__inner__select__burden__right
                      必須
                .exhibition_main__container__product__shipping_method__inner__select__wrappe
                  %i.fa.fa-chevron-down
                    
                  = form.select :shipping_method, Product.shipping_methods, {prompt: "---"}, {class: "exhibition_main__container__product__detail__inner__select__wrappe__button"}



                .exhibition_main__container__product__shipping_method__inner__select__region
                  %h3.exhibition_main__container__product__shipping_method__inner__select__region__left
                    発送元の地域
                    %span.exhibition_main__container__product__shipping_method__inner__select__region__right
                      必須
                .exhibition_main__container__product__shipping_method__inner__select__wrappe
                  %i.fa.fa-chevron-down
                    
                  = form.select :shipping_prefecture, Address.prefectures, {prompt: "---"}, {class: "exhibition_main__container__product__shipping_method__inner__select__wrappe__button"}
                    


                .exhibition_main__container__product__shipping_method__inner__select__day
                  %h3.exhibition_main__container__product__shipping_method__inner__select__day__left
                    発送までの日数
                    %span.exhibition_main__container__product__shipping_method__inner__select__day__right
                      必須
                .exhibition_main__container__product__shipping_method__inner__select__wrappe
                  %i.fa.fa-chevron-down
                    
                  = form.select :shipping_days, Product.shipping_days, {prompt: "---"}, {class: "exhibition_main__container__product__shipping_method__inner__select__wrappe__button"}
                    

          .exhibition_main__container__product__money
            .exhibition_main__container__product__money__inner
              販売価格(300~9,999,999)
              = link_to "#" do
                %i.fa.fa-question-circle{class: "question"}
              .exhibition_main__container__product__money__inner__select
                .exhibition_main__container__product__money__inner__select__a
                  %h3.exhibition_main__container__product__money__inner__select__a__left
                    価格
                    %span.exhibition_main__container__product__money__inner__select__a__right
                      必須
                  .exhibition_main__container__product__money__inner__select__a__price
                    .exhibition_main__container__product__money__inner__select__a__price__yen
                      ¥
                    = form.text_field :price, placeholder: "例） 300", class: "exhibition_main__container__product__money__inner__select__a__price__figure", id: "keyup"
              
                .exhibition_main__container__product__money__inner__select__commission
                  販売手数料(10%)
                  #keyup1
                .exhibition_main__container__product__money__inner__select__profit
                  販売履歴
                  #keyup2
                
          .exhibition_main__container__product__discription
            %p.exhibition_main__container__product__discription__1
              = link_to "#", class: "link" do
                禁止されている出品、行為
              を必ずご確認ください。
            %p.exhibition_main__container__product__discription__2
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "#", class: "link" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p.exhibition_main__container__product__discription__3
              また、出品をもちまして
              = link_to "#", class: "link" do
                加盟店規約
              に同意したことになります。

            = form.submit "編集する", class: "exhibition_main__container__product__discription__exhibition"
            = link_to "/" do
              .exhibition_main__container__product__discription__back
                もどる
  .exhibition_footer  
    .exhibition_footer__inner
      .exhibition_footer__inner__text
        = link_to "#" do
          .exhibition_footer__inner__text__1{class: "hover"}
            プライバシーポリシー
        = link_to "#" do
          .exhibition_footer__inner__text__2{class: "hover"}
            メルカリ利用規約
        = link_to "#" do
          .exhibition_footer__inner__text__3{class: "hover"}
            特定商取引に関する表記
      .exhibition_footer__inner__image
        = link_to "/" do
          = image_tag "logo_gray.svg", size: "80x65", alt: "logo", class: "image_under"
      .exhibition_footer__inner__inc
        © Mercari, Inc.
