= render partial: 'header'
.mein_pic
  .mein_pic_title.application
    .mein_pic_title_mein
      スマホでかんたん！フリマアプリ
    .mein_pic_title_text
      手軽で安心なスマホアプリをダウンロードしよう！
    .mein_pic_title_log
      =link_to "#" ,class: "app" do
        = image_tag "phone.png",class: "app_logo", alt: "app", size: "40x40"
        ダウンロード！
      =link_to "#" ,class: "app" do
        = image_tag "phone.png",class: "app_logo", alt: "app", size: "40x40"
        Download!

  .mein_pic_title.akai
    .mein_pic_title_mein.akai
      AKAI製品が今アツい！
    .mein_pic_title_text.akai
      AKAIで音楽を始めよう！



.category
  %h1 人気のカテゴリー
  .category_btn
    %button.btn{type: "button",id: "lady_btn"}>レディース
    %button.btn{type: "button",id: "men_btn"}>メンズ
    %button.btn{type: "button",id: "appliance_btn"}>家電・スマホ・カメラ
    %button.btn{type: "button",id: "toy_btn"}>おもちゃ・ホビー・グッズ


.new
  .new_title{id: "lady"}
    %h2.new_item_title レディース新着アイテム
    %li.more_item
      =link_to "もっと見る >" , "#"
  - if @ladys.present?
    .new_list
      %ul.new_list_item
        - @ladys.each do |lady|
          %li.item
            =link_to product_path(lady.id) ,class: "new_item" do
              .item_text 
                =lady.name
              = image_tag lady.photos.first.image.to_s,class: "item_pic", alt: "販売写真"
              %span{href:  "#",class: "price",id:"text_price"} 
                =price_split(lady.price)

 

.new
  .new_title{id: "men"}
    %h2.new_item_title メンズ新着アイテム
    %li.more_item
      =link_to "#" do
        もっと見る >
  - if @mens.present?
    .new_list
      %ul.new_list_item
        - @mens.each do |men|
          %li.item
            =link_to product_path(men.id) ,class: "new_item" do
              .item_text 
                =men.name
              = image_tag men.photos.first.image.to_s,class: "item_pic", alt: "販売写真"
              %span{href:  "#",class: "price",id:"text_price"} 
                =price_split(men.price)


 

.new
  .new_title{id: "appliance"}
    %h2.new_item_title 家電・スマホ・カメラ新着アイテム
    %li.more_item
      =link_to "#" do
        もっと見る >
  - if @appliances.present?
    .new_list
      %ul.new_list_item
        - @appliances.each do |appliance|
          %li.item
            =link_to product_path(appliance.id) ,class: "new_item" do
              .item_text 
                =appliance.name
              = image_tag appliance.photos.first.image.to_s,class: "item_pic", alt: "販売写真"
              %span{href:  "#",class: "price",id:"text_price"} 
                =price_split(appliance.price)


 

.new
  .new_title{id: "toy"}
    %h2.new_item_title おもちゃ・ホビー・グッズ
    %li.more_item
      =link_to "#" do
        もっと見る >
  - if @toys.present?
    .new_list
      %ul.new_list_item
        - @toys.each do |toy|
          %li.item
            =link_to product_path(toy.id) ,class: "new_item" do
              .item_text 
                =toy.name
              = image_tag toy.photos.first.image.to_s,class: "item_pic", alt: "販売写真"
              %span{href:  "#",class: "price",id:"text_price"} 
                =price_split(toy.price)




.category
  %h1 人気ブランド
  .category_btn
    %button.btn{type: "button",id: "CHANEL_btn"}>CHANEL
    %button.btn{type: "button",id: "COACH_btn"}>COACH
    %button.btn{type: "button",id: "LOUISVUITTON_btn"}>LOUISVUITTON
    %button.btn{type: "button",id: "GUCCI_btn"}>GUCCI


.new
  .new_title{id: "CHANEL"}
    %h2.new_item_title CHANEL新着アイテム
    %li.more_item
      =link_to "#" do
        もっと見る >
  - if @channels.present?
    .new_list
      %ul.new_list_item
        - @chanels.each do |chanel|
          %li.item
            =link_to product_path(chanel.id) ,class: "new_item" do
              .item_text 
                =chanel.name
              = image_tag chanel.photos.first.image.to_s,class: "item_pic", alt: "販売写真"
              %span{href:  "#",class: "price",id:"text_price"} 
                =price_split(chanel.price)

 

.new
  .new_title{id: "COACH"}
    %h2.new_item_title COACH新着アイテム
    %li.more_item
      =link_to "#" do
        もっと見る >
  - if @coachs.present?
    .new_list
      %ul.new_list_item
        - @coachs.each do |coach|
          %li.item
            =link_to product_path(coach.id) ,class: "new_item" do
              .item_text 
                =coach.name
              = image_tag coach.photos.first.image.to_s,class: "item_pic", alt: "販売写真"
              %span{href:  "#",class: "price",id:"text_price"} 
                =price_split(coach.price)

 

.new
  .new_title{id: "LOUISVUITTON"}
    %h2.new_item_title LOUISVUITTON新着アイテム
    %li.more_item
      =link_to "#" do
        もっと見る >
  - if @louisvuittons.present?
    .new_list
      %ul.new_list_item
        - @louisvuittons.each do |louisvuitton|
          %li.item
            =link_to product_path(louisvuitton.id) ,class: "new_item" do
              .item_text 
                =louisvuitton.name
              = image_tag louisvuitton.photos.first.image.to_s,class: "item_pic", alt: "販売写真"
              %span{href:  "#",class: "price",id:"text_price"} 
                =price_split(louisvuitton.price)


 

.new
  .new_title{id: "GUCCI"}
    %h2.new_item_title GUCCI新着アイテム
    %li.more_item
      =link_to "#" do
        もっと見る >
  - if @guccis.present?
    .new_list
      %ul.new_list_item
        - @guccis.each do |gucci|
          %li.item
            =link_to product_path(gucci.id) ,class: "new_item" do
              .item_text 
                =gucci.name
              = image_tag gucci.photos.first.image.to_s,class: "item_pic", alt: "販売写真"
              %span{href:  "#",class: "price",id:"text_price"} 
                =price_split(gucci.price)



.footer
  = render partial: "adbtm"

= render partial: 'footer'

.producte
  = link_to new_product_path do
    .producte_now
      .producte_text 出品
      = icon('fas', 'camera', class: 'camera')



  