= render partial: 'header'
-if current_user?
  = render partial: '/users/bread', locals: { where: :product }
.sales
  .sales__list
    .sales__list_neme
      %h1= @product.name
    .sales__list_top
      .sales__list_top_pic
        -if @product.photos.present?
          - @product.photos.each do |photo|
            .detail
              = image_tag photo.image.to_s, class: "sales_pic"
            .list
              = image_tag photo.image.to_s, class: "sales_pic_smoll"
      .sales__list_top_item
        .sales__list_top_item_contener
          .sales__list_top_item_contener_column
            出品者
          .sales__list_top_item_contener_rigth
            .sales__list_top_item_contener_rigth_top
              .sales__list_top_item_contener_rigth_top_text
                =link_to "#{@product.seller.user.nickname}", user_path(@product.seller.user.id),class:"color"
            .sales__list_top_item_contener_rigth_bottom
              .sales__list_top_item_contener_rigth_bottom_evaluation
                -unless current_user?
                  .sales__list_top_item_contener_rigth_bottom_evaluation_smile
                    =icon("fas","grin-hearts",class:"face1")
                    = @good
                  .sales__list_top_item_contener_rigth_bottom_evaluation_normal
                    =icon("fas","smile-beam",class:"face2")
                    = @ok
                  .sales__list_top_item_contener_rigth_bottom_evaluation_angry
                    =icon("fas","smile",class:"face3")
                    = @bad
        .sales__list_top_item_contener
          .sales__list_top_item_contener_column
            カテゴリー
          .sales__list_top_item_contener_rigth
            .sales__list_top_item_contener_rigth_secnd
              .sales__list_top_item_contener_rigth_secnd_category
                =link_to "#{@product.category.parent.parent.name}","#",class:"color"
              %ul
                %li
                  =icon("fas","angle-right",class:"icon_color")
                  =link_to "#{@product.category.parent.name}","#",class:"color"
                %li
                  =icon("fas","angle-right",class:"icon_color")
                  =link_to "#{@product.category.name}", "#",class:"color"
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            ブランド
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                =link_to "#{@product.brand.name}", "#",class:"color"
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            商品の状態
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                = @product.condition
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            配送料の負担
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                = @product.shipping_charge
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            配送の方法
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                = @product.shipping_method
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            配送元地域
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                =link_to "#{@product.shipping_prefecture}", "#",class:"color"
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            発送日の目安
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                = @product.shipping_days
    


    .sales__list_price_box
      %h1= price_split(@product.price)
      %p (消込)
      %h3
        - if @product.shipping_charge = 1
          送料込み
        - elsif @product.shipping_charge = 2
          着払い
    -unless current_user?
      .sales__list_btn
        =link_to buyer_path(@product.id) ,class:"color" do
          .get_btn
            購入画面に進む
    .sales__list_comment
      = simple_format@product.description
    -unless current_user?
      .sales__list_evaluate
        .sales__list_evaluate_put
          .sales__list_evaluate_put_good
            =link_to "#",class:"evaluate" do
              =icon("fas","heart")
              いいね！
          .sales__list_evaluate_put_bad
            =link_to "#",class:"evaluate" do
              =icon("fas","flag")
              不適切な商品の報告
        .sales__list_evaluate_link
          =link_to "#",class:"link" do
            =icon("fas","key")
            あんしん・あんぜんへの取り組み

    -if current_user?
      =link_to "商品の編集", edit_product_path, class: "red_btn"
      =link_to "出品を一旦停止する", '#', class: 'gray_btn'
      =link_to "商品を削除する", product_path, method: 'delete', class: "gray_btn"

    
  .sales__list_2nd
    .sales__list_2nd_denngar
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .sales__list_2nd_form
      =form_for"#",class: "form" do |f|
        =f.text_area "#",class: "form"
    .sales__list_2nd_form_btn
      =link_to"#" do
        .form_btn
          コメントする 


.change
  .change_page
    .change_page_behind
      =link_to"#",class: "page" do
        =icon("fas","angle-left")
        メディア メイクアップベースS(グリーン) 30g
    .change_page_next
      =link_to"#",class: "page" do
        メディア メイクアップベースS(グリーン) 30g
        =icon("fas","angle-right")
.sns
  .sns_list
    .sns_list_log
      .sns_list_log_fb
        =link_to"#" do
          =image_tag "http://www.marksign.net/wp-content/uploads/2016/03/512-300x300.jpg",class: "sns_icon"
      .sns_list_log_tw
        =link_to"#" do
          =image_tag "https://dohack.jp/wp-content/uploads/2018/07/e87144.jpg",class: "sns_icon"
      .sns_list_log_pin
        =link_to"#" do
          =image_tag "http://www.marksign.net/wp-content/uploads/2016/03/pinterest_300.jpg",class: "sns_icon"

-unless current_user?
  .another
    .another_list
      .another_list_title
        =link_to "#",class:"my_page" do
          = "#{@product.seller.user.nickname}さんのその他の出品"

      %ul.another_list_item
        -@seller_products.each do |other|
          %li.list_1
            =link_to product_path(other.id) ,class: "color" do
              .pic
                -if other.photos.present?
                  =image_tag other.photos.first.image.to_s
              .title 
                = other.name
              .title_iteme
                .title_iteme_price
                  = price_split(other.price)
                .title_iteme_like
                  =icon("fas","heart")
                  4
-unless current_user?
  .under
    = render partial: '/users/bread', locals: { where: :product }



= render partial:"adbtm"

= render partial:"footer"