= render partial: 'header'
.sales
  .sales__list
    .sales__list_neme
      %h1 ルイビトン　カバン 
    .sales__list_top
      .sales__list_top_pic
       
        = image_tag "inu.jpg",class: "sales_pic"
      
        = image_tag "inu.jpg",class: "sales_pic_smoll"
      
        = image_tag "inu.jpg",class: "sales_pic_smoll"
      
        = image_tag "inu.jpg",class: "sales_pic_smoll"
      
        = image_tag "inu.jpg",class: "sales_pic_smoll"
      
        = image_tag "inu.jpg",class: "sales_pic_smoll"
      
        = image_tag "inu.jpg",class: "sales_pic_smoll"
      .sales__list_top_item
        .sales__list_top_item_contener
          .sales__list_top_item_contener_column
            出品者
          .sales__list_top_item_contener_rigth
            .sales__list_top_item_contener_rigth_top
              .sales__list_top_item_contener_rigth_top_text
                =link_to "#",class:"color" do
                  おおおおおおおおお
                  -# 文字の量指定
            .sales__list_top_item_contener_rigth_bottom
              .sales__list_top_item_contener_rigth_bottom_evaluation
                .sales__list_top_item_contener_rigth_bottom_evaluation_smile
                  =icon("fas","grin-hearts",class:"face1")
                  =link_to "#",class:"str" do
                    7777
                .sales__list_top_item_contener_rigth_bottom_evaluation_normal
                  =icon("fas","smile-beam",class:"face2")
                  =link_to "#",class:"str" do
                    7777
                .sales__list_top_item_contener_rigth_bottom_evaluation_angry
                  =icon("fas","smile",class:"face3")
                  =link_to "#",class:"str" do
                    7777    
        .sales__list_top_item_contener
          .sales__list_top_item_contener_column
            カテゴリー
          .sales__list_top_item_contener_rigth
            .sales__list_top_item_contener_rigth_secnd
              .sales__list_top_item_contener_rigth_secnd_category
                =link_to "#",class:"color" do
                  レディース
              %ul
                %li
                  =icon("fas","angle-right",class:"icon_color")
                  =link_to "#",class:"color" do
                    レディース
                %li
                  =icon("fas","angle-right",class:"icon_color")
                  =link_to "#",class:"color" do
                    レディース
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            ブランド
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                =link_to "#",class:"color" do
                  ルイビトン
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            商品の状態
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                目立った傷や汚れなし
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            配送料の負担
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                送料込み(出品者負担)
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            配送の方法
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                未定
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            配送元地域
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                =link_to "#",class:"color" do
                  大阪府
        .sales__list_top_item_contener2
          .sales__list_top_item_contener2_column2
            発送日の目安
          .sales__list_top_item_contener2_rigth2
            .sales__list_top_item_contener2_rigth2_3rd
              .sales__list_top_item_contener2_rigth2_3rd_hoghog
                1~2日で発送
    


    .sales__list_price_box
      %h1 ¥1,000
      %p (消込)
      %h3 送料込み
    .sales__list_btn
      =link_to "#",class:"color" do
        .get_btn
          購入画面に進む
    .sales__list_comment
      濡れたままの状態での出品になります。           
      人間が大好きで誰にでもなつきます             
      芸は特にできないのですが、とってこいだけは勝手に覚えました。
      ※お手すらできません
      気になる方はお気軽にお問い合わせください
      ノークレームノーリターン
    .sales__list_evaluate
      .sales__list_evaluate_put
        .sales__list_evaluate_put_good
          =link_to "#",class:"evaluate" do
            =icon("fas","heart")
            いいね！
        .sales__list_evaluate_put_bad
          =link_to "#",class:"evaluate" do
            =icon("fas","flag")
            不適切な商品の報告
      .sales__list_evaluate_link
        =link_to "#",class:"link" do
          =icon("fas","key")
          あんしん・あんぜんへの取り組み


    
  .sales__list_2nd
    .sales__list_2nd_denngar
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .sales__list_2nd_form
      =form_for"#",class: "form" do |f|
        =f.text_area "#",class: "form"
    .sales__list_2nd_form_btn
      =link_to"#" do
        .form_btn
          コメントする 


.change
  .change_page
    .change_page_behind
      =link_to"#",class: "page" do
        =icon("fas","angle-left")
        メディア メイクアップベースS(グリーン) 30g
    .change_page_next
      =link_to"#",class: "page" do
        メディア メイクアップベースS(グリーン) 30g
        =icon("fas","angle-right")
.sns
  .sns_list
    .sns_list_log
      .sns_list_log_fb
        =link_to"#" do
          =image_tag "http://www.marksign.net/wp-content/uploads/2016/03/512-300x300.jpg",class: "sns_icon"
      .sns_list_log_tw
        =link_to"#" do
          =image_tag "https://dohack.jp/wp-content/uploads/2018/07/e87144.jpg",class: "sns_icon"
      .sns_list_log_pin
        =link_to"#" do
          =image_tag "http://www.marksign.net/wp-content/uploads/2016/03/pinterest_300.jpg",class: "sns_icon"


.another
  .another_list
    .another_list_title
      =link_to "#",class:"my_page" do
        xxxxさんのその他の出品

    %ul.another_list_item
      %li.list_1
        =link_to "#" ,class: "color" do
          =image_tag "inu.jpg",class: "pic"
          .title RED BULL
          .title_iteme
            .title_iteme_price
              ¥1,000
            .title_iteme_like
              =icon("fas","heart")
              4
      %li.list_1
        =link_to "#" ,class: "color" do
          =image_tag "inu.jpg",class: "pic"
          .title RED BULL
          .title_iteme
            .title_iteme_price
              ¥1,000
            .title_iteme_like
              =icon("fas","heart")
              4
      %li.list_1
        =link_to "#" ,class: "color" do
          =image_tag "inu.jpg",class: "pic"
          .title RED BULL
          .title_iteme
            .title_iteme_price
              ¥1,000
            .title_iteme_like
              =icon("fas","heart")
              4
      %li.list_1
        =link_to "#" ,class: "color" do
          =image_tag "inu.jpg",class: "pic"
          .title RED BULL
          .title_iteme
            .title_iteme_price
              ¥1,000
            .title_iteme_like
              =icon("fas","heart")
              4

.under
  .under_category
    .under_category_item
      メルちゃん
      =icon("fas","angle-right")


.footer
  .footer_ad
    = image_tag "inu.jpg",class: "foot_ad", alt: "inu"
  .footer_pic_title
    .footer_pic_title_mein
      %h3 スマホで簡単フリマアップリ
      %h1 ダウンロードしないでね！
    .footer_pic_title__log
      =link_to "#" ,class: "footer_pic_title__log__new_item" do
        = image_tag "logo_red.svg",class: "app_box", alt: "app"          
      =link_to "#" ,class: "new_item" do
        = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",class: "app_box", alt: "app"
      =link_to "#" ,class: "new_item" do
        = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class: "app_box", alt: "app" 



= render partial:"footer"