.signup-wrapper
  .card_registration_wrapper__simple_header
    %h1.card_registration_wrapper__simple_header__logo
      = link_to "/" do 
        = image_tag "fmarket_logo_white.svg"
    %nav.card_registration_progress-barfive
      %ol.clearfix
        %li.card_registration_progress-barfive__active
          会員情報
          .card_registration_progress-barfive__active__status
        %li.card_registration_progress-barfive__active__tell
          電話番号認証
          .card_registration_progress-barfive__active__status__tell
        %li.card_registration_progress-barfive__active__address
          お届け先住所入力
          .card_registration_progress-barfive__active__status__address
        %li.card_registration_progress-barfive__active__pay
          支払い方法
          .card_registration_progress-barfive__active__status__pay
        %li.card_registration_progress-barfive__active__end
          完了
          .card_registration_progress-barfive__active__status__end
    
  .card_registration_wrapper__main
    .card_registration_wrapper__main__container
      .card_registration_wrapper__main__container__top
        クレジットカード情報入力
      = form_with(model: @card, url: card_path, local: true) do |form|
        .card_registration_wrapper__main__container__middle
          .card_registration_wrapper__main__container__middle__number
            %span.card_registration_wrapper__main__container__middle__number__left
              カード番号
            %span.card_registration_wrapper__main__container__middle__number__right
              必須
            = form.text_field :number, placeholder: "半角数字のみ", class: "card_registration_wrapper__main__container__middle__number__under"
          %img{alt: "カード", height: "35", src: "http://manual.estore.co.jp/shared/mg_sozai/card_m_all.gif", width: "80%",class: "card_registration_img"}
          .card_registration_wrapper__main__container__middle__expiration_1
            %span.card_registration_wrapper__main__container__middle__expiration_1__left
              有効期限
            %span.card_registration_wrapper__main__container__middle__expiration_1__right
              必須
          .card_registration_wrapper__main__container__middle__expiration_2
            %i.fa.fa-chevron-down{class: "card_registration_chevron1"}
            %i.fa.fa-chevron-down{class: "card_registration_chevron2"}
            = form.select :expiration_month, [["01", 1],["02", 2],["03", 3],["04", 4],["05", 5],["06", 6],["07", 7],["08", 8],["09", 9],["10", 10],["11", 11],["12", 12]],{},{class: "card_registration_wrapper__main__container__middle__expiration_2__mon"}
            %span.card_registration_wrapper__main__container__middle__expiration_2__j
              月
            = form.select :expiration_year, [["20", 20],["21", 21],["22", 22],["23", 23]],{},{class: "card_registration_wrapper__main__container__middle__expiration_2__year"}
            %span.card_registration_wrapper__main__container__middle__expiration_2__j
              年
          .card_registration_wrapper__main__container__middle__safty
            %span.card_registration_wrapper__main__container__middle__safty__left
              セキュリティーコード
            %span.card_registration_wrapper__main__container__middle__safty__right
              必須
            = form.text_field :security_code, class: "card_registration_wrapper__main__container__middle__safty__number", placeholder: "カード背面4桁もしくは3桁の番号"
          .card_awesome
            %i.fa.fa-question-circle
            %span.card_registration_wrapper__main__container__middle__link
              カード裏面の番号とは
          .form__card_btn
            = form.submit "次へ進む",  class: "next-btn"
  .signup__footer
    = render partial: "footer"
          
