.signup-wrapper
  .simple-header
    = render partial: "header"
  %main.registration-main
    %section.l-registration-container
      %h2.l-registration-head__registration 会員情報入力
      .l-registration-head__registration__form
        .l-registration-content
          = form_with(model: @user, url: user_registration_path, local: true, class: "l-registration-content") do |form|
            .l-registration-content__nickname
              .l-registration-content__nickname__input
              = form.label :nickname, 'ニックネーム'
              %span.l-registration-content__require 必須
              %br/
              = form.text_field :nickname, autofocus: true, class: "form-input__user", placeholder: "例)メルカリマン"
            .l-registration-content__email
              = form.label :email, 'メールアドレス'
              %span.l-registration-content__require 必須
              %br/
              = form.email_field :email, class: "form-input__user", placeholder: "PC・携帯どちらでも可"
            .l-registration-content__password
              = form.label :password, 'パスワード'
              %span.l-registration-content__require 必須
              %br/

              = form.password_field :password, class: "form-input__user", placeholder: "7文字以上"
              %p.l-registration-content__information
                ※ 英字と数字の両方を含めて設定してください
            .l-registration-content__password
              .l-registration-content__password__checkbox 
                =check_box_tag :check1
                =label_tag :check1, "パスワードを表示する"  
            .l-registration-sub-head
              %h3.l-registration-sub-head__left-text 本人確認
              %p.l-registration-sub-head__text 
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。            
            .signup-main__form__name 
              %p 
                お名前(全角) 
              %span.l-registration-content__require 必須 
            .signup-main__form__name__inputbox
              = form.text_field :last_name, class: "form-input__user last_name-input", placeholder: '例）佐藤'
              = form.text_field :first_name, class: "form-input__user", placeholder: '例) 笑'
            .signup-main__form__name-kana 
              %p
                お名前カナ(全角)
              %span.l-registration-content__require 必須 
            .signup-main__form__name-kana__inputbox 
              = form.text_field :last_name_kana, class: "form-input__user last_name-input", placeholder: "例)サトウ"
              = form.text_field :first_name_kana, class: "form-input__user", placeholder: "例)ワラ"
            .l-registration-content__user__birthday
              = form.label :birthday, "生年月日"
              %span.l-registration-content__require 必須
              %br/  
              .birthday-select-wrap
                != sprintf(form.date_select(:birthday, prefix:'birthday',with_css_classes:'.birthday-select-wrap', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
              %p.form-into-text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。 
            .form-text-center-on
              %p.form-text-conter「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします 
              %br/
              = form.submit "次へ進む",  class: "next-btn" 

        .l-registration-content-text__right
          = link_to("本人情報の登録について", "＃")
          = icon('fas', 'chevron-right')
        .l-registration-content-recaptcha__term
          This site is protected by reCAPTCHA and the Google 
          = link_to("Privacy Policy", "#")
          and
          = link_to("Terms of Service", "#")
          apply.
  .signup__footer
    = render partial: "footer"