.signin__container
  .signin__header
    .signin__header__logo
      = link_to "#" do
        = image_tag "fmarket_logo_red.svg"
    .signin-main
      .signin-main__head 
        新規会員登録
      %ul.signin-submit-button-form
        .signin-index-mail-box
          = link_to "#"do
            メールアドレスで登録する
            = icon('far', 'envelope')
        .signin-index-facebook-form
          = link_to "#" do
            Facebookで登録する
            = icon('fab', 'facebook-square')
            
        .signin-index-google-form
          = link_to "#" do
            .main__conect__lists__google__btn
              Googleで登録する
            .main__conect__lists__google__icon
    .signin__footer
      .signin__footer__box
        = link_to "#"do
          プライバシーポリシー
        = link_to "#"do
          メルカリ利用規約
        = link_to "#"do
          特定商取引に関するにかんする表記
      .signup__footer__logo
        = link_to "#" do
          = image_tag "logo_gray.svg", width: "80px"
      %p © Mercari, Inc.  